body {
  display: flex;
  justify-content: center;
  font-family: 'Noto Serif', serif;
  margin: 0;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  background: #CCC;
  padding: 0.5em 1em;
}
header a {
  color: #000;
}
main {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}
section {
  margin: 50px;
  max-width: 900px;
  font-size: 14pt;
  line-height: 1.8;
}
.stanza {
  flex: 800px;
}
.translation {
  flex: 400px;
  margin: 1em 4em 0 4em;
}
.folio {
  color: #369;
}
.line {
  display: flex;
  margin: 0.4em 0;
}
.line > *:first-child {
  width: 40px;
  color: #369;
  font-size: 9pt;
}
.line > *:nth-child(2) {
  flex: 600px;
}
.line > *:nth-child(3) {
  font-style: italic;
}
.inter > div {
  display: inline-block;
  vertical-align: top;
}
.inter > div > *:first-child {
  font-size: 12pt;
}
.inter > div > *:first-child:hover {
  cursor: pointer;
}
.inter > div > *:not(:first-child) {
  opacity: 0;
  width: 1px;
  height: 13pt;
  font-size: 10pt;
  overflow: hidden;
}
.line:hover > .inter > div > *:not(:first-child) {
  color: #369;
  width: fit-content;
  opacity: 1;
}
.line.bob > *:nth-child(2) {
  margin-left: 4em;
}
.line.wheel > *:nth-child(2) {
  margin-left: 2em;
}
.translation {
  line-height: 2;
}
.translation .bob {
  margin-left: 4em;
}
.translation .wheel {
  margin-left: 2em;
}
.source {
  color: #999;
  line-height: 1.5;
  font-size: 10pt;
}
.entry-link {
  text-align: center;
  padding: 1em;
}
.entry-link a {
  text-decoration: none;
  background: #369;
  color: #FFF;
  padding: 0.5em 1em;
}
.entry-link a:hover {
  background: #69C;
}